.new {
    color:aqua;
    font-size: medium;
    font-style: normal;
}
.push{
    animation: both;
    visibility: hidden;
    stroke-width: 50px;
}
.push{
    animation: both;
    width: fit-content ;    
    max-width: min-content;
}